<!DOCTYPE html>
<html>

<head>

    <title>Dashboard - CyberGuardian</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <a href="/login">Login</a>

        <a href="/scanner">Scanner</a>

        <a href="/signup">Signup</a>

    </div>

    <h1>CyberGuardian Dashboard</h1>

    <h3>Security Status</h3>

    {% if weak_count == 0 %}
        <div class="alert-box moderate">
            No Weak Passwords Detected
        </div>
    {% elif weak_count == 1 %}
        <div class="alert-box warning">
            1 Weak Password Detected
        </div>
    {% else %}
        <div class="alert-box danger">
            {{ weak_count }} Weak Passwords Detected
        </div>
    {% endif %}

    {% if suspicious_count == 0 %}
        <div class="alert-box moderate">
            No Suspicious Files Found
        </div>
    {% elif suspicious_count <= 2 %}
        <div class="alert-box warning">
            {{ suspicious_count }} Suspicious Files Found
        </div>
    {% else %}
        <div class="alert-box danger">
            {{ suspicious_count }} Suspicious Files Found
        </div>
    {% endif %}

    {% if security_score >= 80 %}
        <div class="alert-box moderate">
            Security Score: {{ security_score }}%
        </div>
    {% elif security_score >= 50 %}
        <div class="alert-box warning">
            Security Score: {{ security_score }}%
        </div>
    {% else %}
        <div class="alert-box danger">
            Security Score: {{ security_score }}%
        </div>
    {% endif %}

    <br><br>

    <h2>Latest Security Alerts</h2>

    <div class="alert-box warning">
        {{ threat1 }}
    </div>

    <div class="alert-box danger">
        {{ threat2 }}
    </div>

    <div class="alert-box moderate">
        {{ threat3 }}
    </div>

    <a href="/scanner">
        <button>Open File Scanner</button>
    </a>

</body>

</html>
