<!DOCTYPE html>
<html>

<head>

    <title>Dashboard - CyberGuardian</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="navbar">

        <a href="/login">Login</a>

        <a href="/scanner">Scanner</a>

        <a href="/signup">Signup</a>

    </div>

    <h1>CyberGuardian Dashboard</h1>

    <h3>Security Status</h3>

    <p>Security Score: {{ score }}/100</p>

    <p>2 Weak Passwords Detected</p>

    <p>1 Suspicious File Found</p>

    <p>Browser Security: Moderate</p>

    <br><br>

    <a href="/scanner">

        <button>Open File Scanner</button>

    </a>

</body>

</html>