<!DOCTYPE html>
<html>

<head>
    <title>Dashboard - CyberGuardian</title>
</head>

<body>

    <h1>CyberGuardian Dashboard</h1>

    <h3>Security Status</h3>

    <p>Security Score: {{ score }}/100</p>

    <p>2 Weak Passwords Detected</p>

    <p>1 Suspicious File Found</p>

    <p>Browser Security: Moderate</p>

    <br><br>

    <a href="/scanner">
    <button>Open File Scanner</button>
    </a>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>
