<!DOCTYPE html>
<html>

<head>

    <title>File Scanner - CyberGuardian</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>CyberGuardian File Scanner</h1>

    <form method="POST" enctype="multipart/form-data">

        <label>Enter File Name:</label><br><br>

        <input type="file" name="file">
        {% if filename %}

        <p>Selected File: {{ filename }}</p>

        {% endif %}
        
        <button type="submit">Scan File</button>

    </form>
    {% if result %}

    <h2>{{ result }}</h2>

    {% endif %}

</body>

</html>